
<table class="table table-hover">
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{column | formatColumnName}}</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="items?.length === 0; else showItems">
      <td [attr.colspan]="columns.length + 1" class="text-center">There are no items :(</td>
    </tr>
    <ng-template #showItems>
      <tr [ngClass]="{'active': odd}" *ngFor="let item of items; odd as odd; trackBy: trackBy">
        <td *ngFor="let column of columns">{{item[column]}}</td>
        <td>
            <button class="btn btn-primary btn-sm"
                    (click)="onSelectItem(item.id)"><i class="icon icon-edit"></i></button>
            &nbsp;
            <button class="btn btn-error btn-sm"
                    (click)="onRemoveItem(item.id)"><i class="icon icon-cross"></i></button>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
