
<div class="columns">
  <div class="column col-12">
    <h2 class="text-center">Players page</h2>
    <add-player [teams]="teams$ | async"
                (addPlayer)="onAddPlayer($event)"></add-player>
    <div class="divider"></div>
    <list-items [items]="playersWithTeams$ | async"
                [columns]="['id', 'name', 'age', 'shirtNumber', 'team']"
                (removeItem)="onRemovePlayer($event)"
                (selectItem)="onSelectPlayer($event)"></list-items>
    <modify-player [player]="selectedPlayer$ | async"
                   [teams]="teams$ | async"
                   (modifyPlayer)="onModifyPlayer($event)"></modify-player>
  </div>
</div>
