<div class="menu">
  <div class="container grid-lg">
    <div class="columns">
      <div class="column">
        <h1><span class="icon icon-people"></span> Football manager</h1>
      </div>
      <div class="column text-right">
        <button class="btn" routerLink="/main" [routerLinkActive]="['btn-primary']">Main</button>
        <button class="btn" routerLink="/team" [routerLinkActive]="['btn-primary']">Teams</button>
      </div>
    </div>
  </div>
</div>

<div class="container grid-lg content">
  <router-outlet></router-outlet>
</div>
