
<form novalidate [formGroup]="playerForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="columns">
      <div class="column col-3 col-sm-8 form-group"
           [ngClass]="{'has-error': playerForm.get('name').hasError('required') && playerForm.get('name').touched}">
        <label class="form-label" for="name">Name</label>
        <input class="form-input" type="text" id="name" placeholder="" formControlName="name">
      </div>

      <div class="column col-2 col-sm-8 form-group"
           [ngClass]="{'has-error': playerForm.get('age').hasError('required') && playerForm.get('age').touched}">
        <label class="form-label" for="age">Age</label>
        <input class="form-input" type="text" id="age" placeholder="" formControlName="age">
      </div>

      <div class="column col-2 col-sm-8 form-group"
           [ngClass]="{'has-error': playerForm.get('shirtNumber').hasError('required') && playerForm.get('shirtNumber').touched}">
        <label class="form-label" for="shirt">Shirt number</label>
        <input class="form-input" type="text" id="shirt" placeholder="" formControlName="shirtNumber">
      </div>

      <div class="column col-3 col-sm-8 form-group">
        <label class="form-label" for="idTeam">Team</label>
        <select class="form-select" id="idTeam" formControlName="idTeam">
          <option *ngFor="let team of _teams" [value]="team.id">{{team.name}}</option>
        </select>
      </div>

      <div class="column col-2 col-sm-8 form-group">
        <label class="form-label" for="">&nbsp;</label>
        <button type="submit" class="btn btn-primary input-group-btn"
                [disabled]="playerForm.invalid">Save</button>
      </div>
    </div>
  </div>
</form>
